
.scanner {
    background-color:rgba(255, 255, 255, 0.171);
    backdrop-filter:blur(2px);
    width:100%;
    height:100%;
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    z-index:78777777;
}

.scanner .fingarprint {
    position: relative;
    width: 100px;
    height: 160px;
    background-image: url("/src/assets/img/fin1.svg");
    background-repeat:no-repeat;
    background-size: 100px;
}

.scanner .fingarprint::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/src/assets/img/fin2.svg");
    background-repeat:no-repeat;

    background-size: 100px;
    animation: animate 2s ease-in-out infinite;
}

@keyframes animate {
    0%,
    100% {
        height: 0%;
    }
    50% {
        height: 100%;
    }
}

.scanner .fingarprint::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    filter: drop-shadow(0 0 20px #0b57d0) drop-shadow(0 0 60px #0b57d0);
    background:#0b57d0;
    border-radius: 8px;
    animation: animate_line 2s ease-in-out infinite;
}

@keyframes animate_line {
    0%,
    100% {
        top: 0%;
    }
    50% {
        top: 69%;
    }
}



@keyframes animate_text {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
.scanner p{
    color:rgba(0, 0, 0, 0.788);
    text-transform: capitalize;
}