@font-face {
    font-family:"GoogleSansMedium";
    src: url("./assets/fonts/ProductSans-Medium.ttf");
}
.mediumSans{
    font-family:"GoogleSansMedium";
}
@font-face {
    font-family:"GoogleSansRegular";
    src: url("./assets/fonts/ProductSans-Regular.ttf");
}
.mediumRegular{
    font-family:"GoogleSansRegular";

}